+++
title = "Open-Banking-Docs"
linkTitle = "Open-Banking-Docs"

+++

{{< blocks/cover title="Documentation for Amplify Open Banking" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Axway/open-banking-docs">
		Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<!-- <p class="lead mt-5">You can now contribute to the documentation directly!</p> -->
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


<!-- {{% blocks/lead %}}
This website makes it easy for you to contribute directly to the user documentation for Amplify Open Banking. 

Help us to improve the documentation!

#BetterTogether
{{% /blocks/lead %}} -->

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Amplify Open Banking</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="Introduction" url="/docs" %}}
What is Amplify Open Banking?
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Overview" url="/docs/overview/" %}}
An in-depth walkthrough of the solution.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Configuration" url="/docs/configuration/" %}}
A guide to configure the solution.
{{% /blocks/feature %}}

{{< /blocks/section >}}
