<!-- code for algolia docsearch -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<!-- override the robots meta in head.html to disable google search -->
<meta name="robots" content="noindex, nofollow" />
<!-- Hotjar Tracking Code for https://axway-open-docs.netlify.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1689061,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- Output non-fingerprinted, unminified styles for CMS. -->
{{ $scssCms := "scss/cms.scss"}}
{{ $css := resources.Get $scssCms | toCSS (dict "enableSourceMap" false) | postCSS }}
<!-- CSS for CMS output to: {{ $css.RelPermalink }} (Do not remove this line.) -->